* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive, sans-serif;
}

html,
body {
    height: 100%;
}

.option-select {
    padding: 1em;
}

button {
    padding: 1em;
    width: 12em;
    font-weight: bold;
    background-size: cover;
    transition: 0.2s;
    border-radius: 10em;
    border: 0 solid rgb(95, 67, 93);
    box-shadow: 0.3em 0.5em rgba(0, 0, 0, 0.3);
    background-color: white;
    border-bottom: 0.45em solid rgb(95, 67, 93);

}

button:hover {
    color: white;
    cursor: pointer;
    background-color: rgb(95, 67, 93);
    border-bottom-color: rgb(30, 30, 30);
}

#center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3em inset rgb(95, 67, 93);
    box-shadow: inset 0em 0em 3em rgba(0, 0, 0, 0.6);
    background-color: rgb(234, 234, 234);
    min-height: 100%;
}

.inner-div {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options {
    border: 1em dotted rgb(95, 67, 93);
    background-color: rgb(234, 234, 234);
    padding: 4em;
}

#title {
    margin-bottom: 2.5em;
    margin-top: 0.5em;
    text-shadow: 0.2em 0.3em 0.2em rgba(0, 0, 0, 0.2);
}

#name-insert {
    border-radius: 1em;
    padding: 0.5em;
    border-left-width: 0.4em;
    border-right-width: 0.4em;
    border-top: 0;
    border-bottom: 0;
    border-right-color: rgb(95, 67, 93);
}

#profile-name {
    font-size: 1.5em;
    padding: 0.5em;
}

#go-button {
    border-bottom: 0;
    border-right: 0.45em solid rgb(95, 67, 93);
    border-left: 0.45em solid rgb(95, 67, 93);
    width: 9em;
}

#go-button:hover {
    border-right: 0.45em solid rgb(30, 30, 30);
    border-left: 0.45em solid rgb(30, 30, 30);
}

#go-section {
    border-top: 0.6em dotted rgb(95, 67, 93);
    border-radius: 36%;
    padding: 0;
    padding-top: 1.2em;
    margin-top: 2em;
}